<div class="container">
	<div class="header-wrapper">
		<div class="logo text-right">UNTREF - Sistemas de Tiempo Real 2020</div>
		<div class="title">Alumnos: Gabriel Martín Moran, Oscar Andrés Argueyo</div>
		<div class="title">Docentes: Aciti Claudio, Rodríguez Martín Joel </div>
		<div class="note">
      <h3 class="text-center">Planificador de tareas para RTOS</h3>
    </div>
	</div>
	<div class="content-wrapper">
  <div class="table-wrapper">
  <form name="form" #form="ngForm" novalidate class="container m-12">
  <div class="row">
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="plannerSelect"><i class="fas fa-cogs fa-fw"></i>Planificador</label>
      </div>
      <select class="custom-select" name="plannerSelect" id="plannerSelect" [(ngModel)]="selectedPlanner"
        (ngModelChange)="onPlannerChange($event)">
        <option *ngFor="let planner of PLANNERS" [ngValue]="planner">{{ planner.name }}</option>
      </select>
    </div>
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="processorsNumber"><i
            class="fas fa-microchip fa-fw"></i>Procesadores</label>
      </div>
      <input type="number" class="form-control" name="processorsNumber" id="processorsNumber"
        [(ngModel)]="scheduler.processors" [disabled]="!canChangeProcessors()" [min]="MIN_PROCESSORS"
        [max]="MAX_PROCESSORS">
    </div>
  </div>
  <br>
  <div class="row">
    <h3 class="col-6" style="display: inline;">Tareas</h3>
    <span class="col-6 text-right">
      <button type="button" class="btn btn-outline-dark btn-sm" (click)="addTask()"><i
          class="fas fa-plus fa-fw"></i>Nueva tarea</button>
    </span>
  </div>
  <div class="m-4">
    <app-task-card *ngFor="let task of scheduler.tasks" [task]="task" [parent]="this"></app-task-card>
  </div>
  <div class="text-center m-4">
    <button type="button" class="btn btn-block btn-outline-dark" (click)="schedule()" [disabled]="form.invalid"><i
        class="fas fa-rocket fa-fw"></i>Planificar</button>
  </div>
  <div class="m-4" *ngIf="result">
    <h5>Hiperperíodo: {{ result.hyperperiod }}</h5>
    <h5 *ngIf="result.secondaryPeriod">Período secundario: {{ result.secondaryPeriod }}</h5>
    <br>
    <h3>Planificación</h3>
    <app-result-table [result]="result" *ngIf="result"></app-result-table>
  </div>
</form>
 </div>
</div>
</div>
