body {
    background: #fbf7f0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 20px;
}

th {
    background: #454545;
    color: white;
}

td {
    text-align: center;
}

h2 {
    color: #fbf7f0;
}

h1 {
    text-align: center;
}